---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font-family: $ptsans;
  font-size: 1.25rem;
  line-height: 1.25;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bookmania;
  color: $green;
  font-weight: 600;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
    font-size: 1.125rem;
  }
}

h1 {
  font-size: 40px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
  color: #107ac6;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
  overflow-wrap: break-word;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

table, th, td {
  border: 1px solid black;
  table-layout: fixed;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 5px;
}

td {
  vertical-align: middle;
  overflow: hidden;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 12px;
  font-style: italic;
  color: $gray;
}

.attribution {
  font-size: 11px;
}

.caption {
  font-size: 12px;
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

// Original margin-bottom was 50px.
//.wrapper-masthead {
//  margin-bottom: 20px;
//}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 84.375rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand-wrap {
  position: relative;
  padding: 2.5rem 0;
  margin-right: 0.625rem;
  max-width: 35%;
}

.masthead {
  padding: 0;
  //border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 100%;
  height: auto;
  //margin-right: 15px;
  //padding: 42px 0 40px 0;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

//nav {
//  float: right;
//  margin-top: 130px;
//  font-family: pt-sans;
//  font-size: 22px;

//  @include mobile {
//    float: none;
//    margin-top: 9px;
//    display: block;
//    font-size: 16px;
//  }

//  a {
//    margin-left: 20px;
//    color: #666;
//    text-align: right;
//    font-weight: 700;
//    letter-spacing: 1px;
//    min-width: 48px;
//    padding-left: 8px;
//    padding-right: 8px;

//    @include mobile {
//      margin: 0 10px;
//      color: $blue;
//    }
//  }
//}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

/*********************/
/* FOOTER */
/*********************/

footer {
  margin-top: 50px;
  border-top: 1px solid #262d40;
  background-color: $white;
  font-size: 0.9375rem;
  clear: both;
  padding: 0 1.25rem 1.5625rem;
  position: relative;
}

.footer-wrap {
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
}

.ems-logo {
  height: 80px;
}

footer .footer-wrap .follow-us {
  margin-top: 17px;
}

.footer-bottom {
  background: #262d40;
  width: 100%;
  padding: 0.4rem;
  text-align: center;
  color: $white;
  bottom: 0;
  left: 0;
  position: absolute;
}

/*********************/


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// This will fix the image widths on the front page
@media only screen
and (max-device-width : 480px) {
  img.doubled { width: 100%; }
}

@media only screen
and (min-width : 481px) {
  img.doubled { width: 49.5%; }
  img.doubled.right { float: right; }
}

.site-nanobar .bar {
  background:#1EA6D4;
}

/*********************/
/* HEADER */
/*********************/

.header-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 84.375rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand-wrap {
  position: relative;
  padding: 2.5rem 0;
  margin-right: 0.625rem;
  max-width: 35%;
}

.logo {
  display: flex;
  max-width: 100%;
  width: 28.75rem;
  position: relative;
}

nav  {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
}

.main-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  flex-flow: row wrap;
  margin: 0;
  margin-right: -1rem;
}

.main-nav a {
  font-weight: bold;
  color: $gray;
  display: block;
  padding: 0.75rem 1rem;
}

.makeleft{
  float: left;
}

.sec-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  flex-flow: row wrap;
  margin: 0;
  margin-left: -3rem;
}

.sec-nav a {
  font-weight: bold;
  color: $gray;
  display: block;
  padding: 0.75rem 1rem;
}

.follow-us {
  display: block;
}

/* teal bar over "active" menu item */
.menu-mark {
  z-index: 3;
  background: $teal;
  height: 0.25rem;
}

/* shrink navigation bar font size with smaller screen */
@media (max-width: 63.75em) {
  .main-nav {
    font-size: 1rem;
  }
}

/* hide hamburger menu on big screens*/
nav label, #hamburger {
  display: none;
}

/* MOBILE SCREENS */
@media (max-width: 55.3125em) { /*show hamburger menu*/
  nav label {
    display: inline-block;
    font-size: 1.75rem;
    padding: 10px;
    text-align: right;
  }

  .brand-wrap {
    max-width: 80%;
  }

  nav { /*align hamburger menu*/
    flex-flow: nowrap;
    align-items: center;
  }

  ul.main-nav, .follow-us {
    display: none;
  }

  nav input:checked ~ ul.main-nav {
    display: block;
  }
}

.follow-us {
  float: right;
  font-family: $ptsans;
  list-style: none;
  align-items: center;
}

.follow-us ul {
  padding: 0;
  margin: 0;
  text-align: right;
  overflow: hidden;
  clear: both;
  list-style: none;
}

.follow-us li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.follow-us a {
  display: flex;
  color: $gray;
  font-size: 1rem;
  align-items: center;
}

.follow-us .twitter::before {
  background-image: url(	https://www.midatlanticrisa.org/etc/rand/designs/common/icons/twitter-3c9a87.svg);
}

.follow-us a::before {
  content: "";
  display: block;
  background: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}
