{{ define "main" -}}
<head>
  <!-- Set up JQuery -->
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Set up Select2: https://select2.org  -->
  <!-- Select2 is a jQuery replacement for select boxes. Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options. -->
  <!-- We use Select2 to convert our multi select boxes to a nice dropdown menu that you can search -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  
  <!-- Load the tools json variable from a separate file -->
  <script src="/data/toolsFilter.js" type="text/javascript"></script>
</head>
<body>
  <!-- Set up the front end of the webpage -->
  <h1>Tool Search</h1>

  <!-- Create the location dropdown search bar with an option to select multiple critia -->
  <label for="location"><b>Where do you need your tool to work?</b></label><br>
  <select class="js-location-multiple" id="location" multiple="multiple" style="width: 50%">
    <option value="Any" selected>Any location</option>
    <optgroup label="Delaware">
      <option value="Delaware">Delaware</option>
      <option value="Kent County, DE">Kent County, DE</option>
      <option value="New Castle County, DE">New Castle County, DE</option>
      <option value="Sussex County, DE">Sussex County, DE</option>
    </optgroup>
    <optgroup label="Maryland">
      <option value="Maryland">Maryland</option>
      <option value="Allegany County, MD">Allegany County, MD</option>
      <option value="Anne Arundel County, MD">Anne Arundel County, MD</option>
      <option value="Baltimore County, MD">Baltimore County, MD</option>
      <option value="Calvert County, MD">Calvert County, MD</option>
      <option value="Caroline County, MD">Caroline County, MD</option>
      <option value="Carroll County, MD">Carroll County, MD</option>
      <option value="Cecil County, MD">Cecil County, MD</option>
      <option value="Charles County, MD">Charles County, MD</option>
      <option value="Dorchester County, MD">Dorchester County, MD</option>
      <option value="Frederick County, MD">Frederick County, MD</option>
      <option value="Garrett County, MD">Garrett County, MD</option>
      <option value="Harford County, MD">Harford County, MD</option>
      <option value="Howard County, MD">Howard County, MD</option>
      <option value="Kent County, MD">Kent County, MD</option>
      <option value="Montgomery County, MD">Montgomery County, MD</option>
      <option value="Prince George's County, MD">Prince George's County, MD</option>
      <option value="Somerset County, MD">Somerset County, MD</option>
      <option value="St. Mary's County, MD">St. Mary's County, MD</option>
      <option value="Talbot County, MD">Talbot County, MD</option>
      <option value="Washington County, MD">Washington County, MD</option>
      <option value="Wicomico County, MD">Wicomico County, MD</option>
      <option value="Worcester County, MD">Worcester County, MD</option>
      <option value="Baltimore City, MD">Baltimore, MD</option>
    </optgroup>
    <optgroup label="New Jersey">
      <option value="New Jersey">New Jersey</option>
      <option value="Atlantic County">Atlantic County</option>
      <option value="Bergen County, NJ">Bergen County, NJ</option>
      <option value="Burlington County, NJ">Burlington County, NJ</option>
      <option value="Camden County, NJ">Camden County, NJ</option>
      <option value="Cape May County, NJ">Cape May County, NJ</option>
      <option value="Cumerland County, NJ">Cumerland County, NJ</option>
      <option value="Essex County, NJ">Essex County, NJ</option>
      <option value="Gloucester County, NJ">Gloucester County, NJ</option>
      <option value="Hudson County, NJ">Hudson County, NJ</option>
      <option value="Hunterdon County, NJ">Hunterdon County, NJ</option>
      <option value="Mercer County, NJ">Mercer County, NJ</option>
      <option value="Middlesex County, NJ">Middlesex County, NJ</option>
      <option value="Monmouth County, NJ">Monmouth County, NJ</option>
      <option value="Morris County, NJ">Morris County, NJ</option>
      <option value="Ocean County, NJ">Ocean County, NJ</option>
      <option value="Passaic County, NJ">Passaic County, NJ</option>
      <option value="Salem County, NJ">Salem County, NJ</option>
      <option value="Somerset County, NJ">Somerset County, NJ</option>
      <option value="Sussex County, NJ">Sussex County, NJ</option>
      <option value="Union County, NJ">Union County, NJ</option>
      <option value="Warren County, NJ">Warren County, NJ</option>
    </optgroup>
    <optgroup label="New York">
      <option value="New York">New York</option>
      <option value="Albany County, NY">Albany County, NY</option>
      <option value="Allegany County, NY">Allegany County, NY</option>
      <option value="Bronx County, NY">Bronx County, NY</option>
      <option value="Broome County, NY">Broome County, NY</option>
      <option value="Cattaraugus County, NY">Cattaraugus County, NY</option>
      <option value="Cayuga County, NY">Cayuga County, NY</option>
      <option value="Chautauqua County, NY">Chautauqua County, NY</option>
      <option value="Chemung County, NY">Chemung County, NY</option>
      <option value="Chenango County, NY">Chenango County, NY</option>
      <option value="Clinton County, NY">Clinton County, NY</option>
      <option value="Columbia County, NY">Columbia County, NY</option>
      <option value="Cortland County, NY">Cortland County, NY</option>
      <option value="Delaware County, NY">Delaware County, NY</option>
      <option value="Dutchess County, NY">Dutchess County, NY</option>
      <option value="Erie County, NY">Erie County, NY</option>
      <option value="Essex County, NY">Essex County, NY</option>
      <option value="Franklin County, NY">Franklin County, NY</option>
      <option value="Fulton County, NY">Fulton County, NY</option>
      <option value="Genesee County, NY">Genesee County, NY</option>
      <option value="Greene County, NY">Greene County, NY</option>
      <option value="Hamilton County, NY">Hamilton County, NY</option>
      <option value="Herkimer County, NY">Herkimer County, NY</option>
      <option value="Jefferson County, NY">Jefferson County, NY</option>
      <option value="Kings County, NY">Kings County, NY</option>
      <option value="Lewis County, NY">Lewis County, NY</option>
      <option value="Livingston County, NY">Livingston County, NY</option>
      <option value="Madison County, NY">Madison County, NY</option>
      <option value="Monroe County, NY">Monroe County, NY</option>
      <option value="Montgomery County, NY">Montgomery County, NY</option>
      <option value="Nassau County, NY">Nassau County, NY</option>
      <option value="New York County, NY">New York County, NY</option>
      <option value="Niagara County, NY">Niagara County, NY</option>
      <option value="Oneida County, NY">Oneida County, NY</option>
      <option value="Onondaga County, NY">Onondaga County, NY</option>
      <option value="Ontario County, NY">Ontario County, NY</option>
      <option value="Orange County, NY">Orange County, NY</option>
      <option value="Orleans County, NY">Orleans County, NY</option>
      <option value="Oswego County, NY">Oswego County, NY</option>
      <option value="Otsego County, NY">Otsego County, NY</option>
      <option value="Putnam County, NY">Putnam County, NY</option>
      <option value="Queens County, NY">Queens County, NY</option>
      <option value="Rensselaer County, NY">Rensselaer County, NY</option>
      <option value="Richmond County, NY">Richmond County, NY</option>
      <option value="Rockland County, NY">Rockland County, NY</option>
      <option value="St. Lawrence County, NY">St. Lawrence County, NY</option>
      <option value="Saratoga County, NY">Saratoga County, NY</option>
      <option value="Schenectady County, NY">Schenectady County, NY</option>
      <option value="Schoharie County, NY">Schoharie County, NY</option>
      <option value="Schuyler County, NY">Schuyler County, NY</option>
      <option value="Seneca County, NY">Seneca County, NY</option>
      <option value="Steuben County, NY">Steuben County, NY</option>
      <option value="Suffolk County, NY">Suffolk County, NY</option>
      <option value="Sullivan County, NY">Sullivan County, NY</option>
      <option value="Tioga County, NY">Tioga County, NY</option>
      <option value="Tompkins County, NY">Tompkins County, NY</option>
      <option value="Ulster County, NY">Ulster County, NY</option>
      <option value="Warren County, NY">Warren County, NY</option>
      <option value="Washington County, NY">Washington County, NY</option>
      <option value="Wayne County, NY">Wayne County, NY</option>
      <option value="Westchester County, NY">Westchester County, NY</option>
      <option value="Wyoming County, NY">Wyoming County, NY</option>
      <option value="Yates County, NY">Yates County, NY</option>
    </optgroup>
    <optgroup label="Pennslyvania">
      <option value="Pennslyvania">Pennslyvania</option>
      <option value="Adams County, PA">Adams County, PA</option>
      <option value="Allegheny County, PA">Allegheny County, PA</option>
      <option value="Armstrong County, PA">Armstrong County, PA</option>
      <option value="Beaver County, PA">Beaver County, PA</option>
      <option value="Bedford County, PA">Bedford County, PA</option>
      <option value="Berks County, PA">Berks County, PA</option>
      <option value="Blair County, PA">Blair County, PA</option>
      <option value="Bradford County, PA">Bradford County, PA</option>
      <option value="Bucks County, PA">Bucks County, PA</option>
      <option value="Butler County, PA">Butler County, PA</option>
      <option value="Cambria County, PA">Cambria County, PA</option>
      <option value="Cameron County, PA">Cameron County, PA</option>
      <option value="Carbon County, PA">Carbon County, PA</option>
      <option value="Centre County, PA">Centre County, PA</option>
      <option value="Chester County, PA">Chester County, PA</option>
      <option value="Clarion County, PA">Clarion County, PA</option>
      <option value="Clearfield County, PA">Clearfield County, PA</option>
      <option value="Clinton County, PA">Clinton County, PA</option>
      <option value="Columbia County, PA">Columbia County, PA</option>
      <option value="Crawford County, PA">Crawford County, PA</option>
      <option value="Cumberland County, PA">Cumberland County, PA</option>
      <option value="Dauphin County, PA">Dauphin County, PA</option>
      <option value="Delaware County, PA">Delaware County, PA</option>
      <option value="Elk County, PA">Elk County, PA</option>
      <option value="Erie County, PA">Erie County, PA</option>
      <option value="Fayette County, PA">Fayette County, PA</option>
      <option value="Forest County, PA">Forest County, PA</option>
      <option value="Franklin County, PA">Franklin County, PA</option>
      <option value="Fulton County, PA">Fulton County, PA</option>
      <option value="Greene County, PA">Greene County, PA</option>
      <option value="Huntingdon County, PA">Huntingdon County, PA</option>
      <option value="Indiana County, PA">Indiana County, PA</option>
      <option value="Jefferson County, PA">Jefferson County, PA</option>
      <option value="Juniata County, PA">Juniata County, PA</option>
      <option value="Lackawanna County, PA">Lackawanna County, PA</option>
      <option value="Lancaster County, PA">Lancaster County, PA</option>
      <option value="Lawrence County, PA">Lawrence County, PA</option>
      <option value="Lebanon County, PA">Lebanon County, PA</option>
      <option value="Lehigh County, PA">Lehigh County, PA</option>
      <option value="Luzerne County, PA">Luzerne County, PA</option>
      <option value="Lycoming County, PA">Lycoming County, PA</option>
      <option value="McKean County, PA">McKean County, PA</option>
      <option value="Mercer County, PA">Mercer County, PA</option>
      <option value="Mifflin County, PA">Mifflin County, PA</option>
      <option value="Monroe County, PA">Monroe County, PA</option>
      <option value="Montgomery County, PA">Montgomery County, PA</option>
      <option value="Montour County, PA">Montour County, PA</option>
      <option value="Northampton County, PA">Northampton County, PA</option>
      <option value="Northumberland County, PA">Northumberland County, PA</option>
      <option value="Perry County, PA">Perry County, PA</option>
      <option value="Philadelphia County, PA">Philadelphia, PA</option>
      <option value="Pike County, PA">Pike County, PA</option>
      <option value="Potter County, PA">Potter County, PA</option>
      <option value="Schuylkill County, PA">Schuylkill County, PA</option>
      <option value="Snyder County, PA">Snyder County, PA</option>
      <option value="Somerset County, PA">Somerset County, PA</option>
      <option value="Sullivan County, PA">Sullivan County, PA</option>
      <option value="Susquehanna County, PA">Susquehanna County, PA</option>
      <option value="Tioga County, PA">Tioga County, PA</option>
      <option value="Union County, PA">Union County, PA</option>
      <option value="Venago County, PA">Venago County, PA</option>
      <option value="Warren County, PA">Warren County, PA</option>
      <option value="Washington County, PA">Washington County, PA</option>
      <option value="Wayne County, PA">Wayne County, PA</option>
      <option value="Westmoreland County, PA">Westmoreland County, PA</option>
      <option value="Wyoming County, PA">Wyoming County, PA</option>
      <option value="York County, PA">York County, PA</option>
    </optgroup>
    <optgroup label="Virginia">
      <option value="Virginia">Virginia</option>
      <option value="Accomack County, VA">Accomack County, VA</option>
      <option value="Albemarie County, VA">Albemarie County, VA</option>
      <option value="Alleghany County, VA">Alleghany County, VA</option>
      <option value="Amelia County, VA">Amelia County, VA</option>
      <option value="Amherst County, VA">Amherst County, VA</option>
      <option value="Appomattox County, VA">Appomattox County, VA</option>
      <option value="Arlington County, VA">Arlington County, VA</option>
      <option value="Augusta County, VA">Augusta County, VA</option>
      <option value="Bath County, VA">Bath County, VA</option>
      <option value="Bedford County, VA">Bedford County, VA</option>
      <option value="Bland County, VA">Bland County, VA</option>
      <option value="Botetourt County, VA">Botetourt County, VA</option>
      <option value="Brunswick County, VA">Brunswick County, VA</option>
      <option value="Buchanan County, VA">Buchanan County, VA</option>
      <option value="Buckingham County, VA">Buckingham County, VA</option>
      <option value="Campbell County, VA">Campbell County, VA</option>
      <option value="Caroline County, VA">Caroline County, VA</option>
      <option value="Carroll County, VA">Carroll County, VA</option>
      <option value="Charles City County, VA">Charles City County, VA</option>
      <option value="Charlotte County, VA">Charlotte County, VA</option>
      <option value="Chesterfield County, VA">Chesterfield County, VA</option>
      <option value="Clarke County, VA">Clarke County, VA</option>
      <option value="Craig County, VA">Craig County, VA</option>
      <option value="Culpeper County, VA">Culpeper County, VA</option>
      <option value="Cumberland County, VA">Cumberland County, VA</option>
      <option value="Dickenson County, VA">Dickenson County, VA</option>
      <option value="Dinwiddie County, VA">Dinwiddie County, VA</option>
      <option value="Essex County, VA">Essex County, VA</option>
      <option value="Fairfax County, VA">Fairfax County, VA</option>
      <option value="Fauquier County, VA">Fauquier County, VA</option>
      <option value="Floyd County, VA">Floyd County, VA</option>
      <option value="Fluvanna County, VA">Fluvanna County, VA</option>
      <option value="Franklin County, VA">Franklin County, VA</option>
      <option value="Frederick County, VA">Frederick County, VA</option>
      <option value="Giles County, VA">Giles County, VA</option>
      <option value="Gloucester County, VA">Gloucester County, VA</option>
      <option value="Goochland County, VA">Goochland County, VA</option>
      <option value="Grayson County, VA">Grayson County, VA</option>
      <option value="Greene County, VA">Greene County, VA</option>
      <option value="Greensville County, VA">Greensville County, VA</option>
      <option value="Halifax County, VA">Halifax County, VA</option>
      <option value="Hanover County, VA">Hanover County, VA</option>
      <option value="Henrico County, VA">Henrico County, VA</option>
      <option value="Henry County, VA">Henry County, VA</option>
      <option value="Highland County, VA">Highland County, VA</option>
      <option value="Isle of Wight County, VA">Isle of Wight County, VA</option>
      <option value="James City County, VA">James City County, VA</option>
      <option value="King and Queen County, VA">King and Queen County, VA</option>
      <option value="King George County, VA">King George County, VA</option>
      <option value="King William County, VA">King William County, VA</option>
      <option value="Lancaster County, VA">Lancaster County, VA</option>
      <option value="Lee County, VA">Lee County, VA</option>
      <option value="Loudoun County, VA">Loudoun County, VA</option>
      <option value="Louisa County, VA">Louisa County, VA</option>
      <option value="Lunenburg County, VA">Lunenburg County, VA</option>
      <option value="Madison County, VA">Madison County, VA</option>
      <option value="Mathews County, VA">Mathews County, VA</option>
      <option value="Mecklenburg County, VA">Mecklenburg County, VA</option>
      <option value="Middlesex County, VA">Middlesex County, VA</option>
      <option value="Montgomery County, VA">Montgomery County, VA</option>
      <option value="Nelson County, VA">Nelson County, VA</option>
      <option value="New Kent County, VA">New Kent County, VA</option>
      <option value="Northhampton County, VA">Northhampton County, VA</option>
      <option value="Northumberland County, VA">Northumberland County, VA</option>
      <option value="Nottoway County, VA">Nottoway County, VA</option>
      <option value="Orange County, VA">Orange County, VA</option>
      <option value="Page County, VA">Page County, VA</option>
      <option value="Patrick County, VA">Patrick County, VA</option>
      <option value="Pittsylvania County, VA">Pittsylvania County, VA</option>
      <option value="Powhatan County, VA">Powhatan County, VA</option>
      <option value="Prince Edward County, VA">Prince Edward County, VA</option>
      <option value="Prince George County, VA">Prince George County, VA</option>
      <option value="Pulaski County, VA">Pulaski County, VA</option>
      <option value="Rappahannock County, VA">Rappahannock County, VA</option>
      <option value="Richmond County, VA">Richmond County, VA</option>
      <option value="Roanoke County, VA">Roanoke County, VA</option>
      <option value="Rockbridge County, VA">Rockbridge County, VA</option>
      <option value="Rockingham County, VA">Rockingham County, VA</option>
      <option value="Russell County, VA">Russell County, VA</option>
      <option value="Scott County, VA">Scott County, VA</option>
      <option value="Shenandoah County, VA">Shenandoah County, VA</option>
      <option value="Smyth County, VA">Smyth County, VA</option>
      <option value="Southampton County, VA">Southampton County, VA</option>
      <option value="Spotsylvania County, VA">Spotsylvania County, VA</option>
      <option value="Stafford County, VA">Stafford County, VA</option>
      <option value="Surry County, VA">Surry County, VA</option>
      <option value="Sussex County, VA">Sussex County, VA</option>
      <option value="Tazewell County, VA">Tazewell County, VA</option>
      <option value="Warren County, VA">Warren County, VA</option>
      <option value="Washington County, VA">Washington County, VA</option>
      <option value="Westmoreland County, VA">Westmoreland County, VA</option>
      <option value="Wise County, VA">Wise County, VA</option>
      <option value="Wythe County, VA">Wythe County, VA</option>
      <option value="York County, VA">York County, VA</option>
      <option value="Alexandria City, VA">Alexandria, VA</option>
      <option value="Bistol City, VA">Bistol, VA</option>
      <option value="Buena Vista City, VA">Buena Vista, VA</option>
      <option value="Charlottesville City, VA">Charlottesville, VA</option>
      <option value="Chesapeake City, VA">Chesapeake, VA</option>
      <option value="Colonial Heights City, VA">Colonial Heights, VA</option>
      <option value="Covington City, VA">Covington, VA</option>
      <option value="Danville City, VA">Danville, VA</option>
      <option value="Emporia City, VA">Emporia, VA</option>
      <option value="Fairfax City, VA">Fairfax, VA</option>
      <option value="Falls Church City, VA">Falls Church, VA</option>
      <option value="Franklin City, VA">Franklin, VA</option>
      <option value="Fredericksburg City, VA">Fredericksburg, VA</option>
      <option value="Galax City, VA">Galax, VA</option>
      <option value="Hampton City, VA">Hampton, VA</option>
      <option value="Harrisonburg City, VA">Harrisonburg, VA</option>
      <option value="Hopewell City, VA">Hopewell, VA</option>
      <option value="Lexington City, VA">Lexington, VA</option>
      <option value="Lynchburg City, VA">Lynchburg, VA</option>
      <option value="Manassas City, VA">Manassas, VA</option>
      <option value="Manassas Park City, VA">Manassas Park, VA</option>
      <option value="Martinsville City, VA">Martinsville, VA</option>
      <option value="Newport News City, VA">Newport News, VA</option>
      <option value="Norfolk City, VA">Norfolk, VA</option>
      <option value="Norton City, VA">Norton, VA</option>
      <option value="Petersburg City, VA">Petersburg, VA</option>
      <option value="Poquoson City, VA">Poquoson, VA</option>
      <option value="Portsmouth City, VA">Portsmouth, VA</option>
      <option value="Radford City, VA">Radford, VA</option>
      <option value="Richmond City, VA">Richmond, VA</option>
      <option value="Roanoke City, VA">Roanoke, VA</option>
      <option value="Salem City, VA">Salem, VA</option>
      <option value="Staunton City, VA">Staunton, VA</option>
      <option value="Suffolk City, VA">Suffolk, VA</option>
      <option value="Virginia Beach City, VA">Virginia Beach, VA</option>
      <option value="Waynesboro City, VA">Waynesboro, VA</option>
      <option value="Williamsburg City, VA">Williamsburg, VA</option>
      <option value="Winchester City, VA">Winchester, VA</option>
    </optgroup>
    <optgroup label="Washington, DC">
      <option value="District of Columbia">Washington, DC</option>
    </optgroup>
  </select>
  <br>
  <br>
  
  <!-- What aspect(s) of your topic(s) are you interested in?
Adding filters narrows your search. Select your top 1-2 choices to optimize your results.-->
  <!-- Create the tool filter dropdown search bar with an option to select multiple critia -->
  <label for="subfilter"><b>What topic(s) are you interested in?</b></label><br>
  <select class="js-subfilter-multiple" id="subfilter" multiple="multiple" style="width: 50%">
    <option value="Any" selected>Any topic</option>
    <optgroup label="Developed Environments">
      <option value="Planning / Land Use">Planning / Land Use</option>
      <option value="Transportation">Transportation</option>
      <option value="Buildings / Infrastructure">Buildings / Infrastructure</option>
      <option value="Fisheries and Aquaculture">Fisheries and Aquaculture</option>
      <option value="Agriculture">Agriculture</option>
      <option value="Forestry">Forestry</option>
      <option value="Economic Assessment">Economic Assessment</option>
      <option value="Urban Forestry">Urban Forestry</option>
    </optgroup>
    <optgroup label="Ecosystems">
      <option value="Wetlands">Wetlands</option>
      <option value="Shorelines and Erosion">Shorelines and Erosion</option>
      <option value="Restoration">Restoration</option>
      <option value="Eco Services Valuation">Eco Services Valuation</option>
      <option value="Submerged Aquatic Vegitation">Submerged Aquatic Vegitation</option>
      <option value="Soils">Soils</option>
    </optgroup>
    <optgroup label="Society">
      <option value="Social Vulnerability">Social Vulnerability</option>
      <option value="Cultural Resources">Cultural Resources</option>
      <option value="Public Health">Public Health</option>
      <option value="Air Quality">Air Quality</option>
    </optgroup>
    <optgroup label="Water / Flooding">
      <option value="Water Level">Water Level</option>
      <option value="Water Quality">Water Quality</option>
      <option value="Stream Flow">Stream Flow</option>
      <option value="High Tide / Recurrent Flooding">High Tide / Recurrent Flooding</option>
      <option value="Storm Surge">Storm Surge</option>
      <option value="Inland Flooding">Inland Flooding</option>
      <option value="Saltwater Intrusion">Saltwater Intrusion</option>
    </optgroup>
    <optgroup label="Weather and Climate">
      <option value="Sea Level Rise">Sea Level Rise</option>
      <option value="Temperature">Temperature</option>
      <option value="Precipitation">Precipitation</option>
      <option value="Storms and Hurricanes">Storms and Hurricanes</option>
      <option value="Drought">Drought</option>
      <option value="Carbon Emissions">Carbon Emissions</option>
    </optgroup>
    <optgroup label="Coastal / Inland">
      <option value="Noncoastal/ Inland">Noncoastal/ Inland</option>
      <option value="Coastal">Coastal</option>
    </optgroup>
    <optgroup label="Other / Uncategorized">
      <option value="None">Other</option>
    </optgroup>
  </select>
  <br>
  <br>

  <!-- Create the tool function dropdown search bar with an option to select multiple critia -->
  <label for="toolfunction"><b>Why do you need the tool?</b></label><br>
  <select class="js-toolfunction-multiple" id="toolfunction" multiple="multiple" style="width: 50%">
    <option value="Any" selected>Any function</option>
    <option value="Adaptation Planning">Adaptation Planning</option>
    <option value="Citizen Science">Citizen Science</option>
    <option value="Climate Mitigation Planning">Climate Mitigation Planning</option>
    <option value="Engagement">Engagement</option>
    <option value="Identify Vulnerabilities">Identify Vulnerabilities</option>
    <option value="Process Support">Process Support</option>
    <option value="View Past/Current Conditions">View Past/Current Conditions</option>
    <option value="View Future Projections">View Future Projections</option>
    <option value="Toolkit/Tool Collection">Toolkit/Tool Collection</option>
  </select>
  
  <hr>
  <!-- Print the results to the page as an list -->
  <!-- <h2>Search Results</h2> -->
  <div id="result"></div>
  
  <!-- End of the front end of the webpage -->
  <!-- Set up the back end (javascript + jquery) of the webpage -->
  <script>
  
  // Define some options for the select2 dropdowns
  $(document).ready(function() {
    $('.js-location-multiple').select2({
      width: 'resolve', // need to override the changed default
      placeholder: "Select a location",
      allowClear: true
    });
    $('.js-subfilter-multiple').select2({
      width: 'resolve', // need to override the changed default
      placeholder: "Select a topic",
      allowClear: true
    });
    $('.js-toolfunction-multiple').select2({
      width: 'resolve', // need to override the changed default
      placeholder: "Select a function",
      allowClear: true
    });
  });
  // Define some general functions
  //////////////////////////////////////////////////////////////////
  // Function that checkes whether a value exists within an array
  // https://www.positronx.io/chekc-if-value-exists-array-javascript-jquery/
  // In a future version we could use .include instead (https://www.w3schools.com/jsref/jsref_includes_array.asp)
  //////////////////////////////////////////////////////////////////
  function findValueInArray(value,arr){
    var result = false;
    
    for(var i=0; i<arr.length; i++){
      var name = arr[i];
      if(name == value){
        result = true;
        break;
      }
    }
    // return true or false
    return result;
  }

  //////////////////////////////////////////////////////////////////
  // Function that checkes whether two arrays have any common values
  // If the first array is actually just one value then it'll run 'findValueInArray'
  // https://www.geeksforgeeks.org/how-to-find-if-two-arrays-contain-any-common-item-in-javascript/
  //////////////////////////////////////////////////////////////////
  function findCommonElement(array1, array2) {
    if(typeof array1 === 'string') {
      var result = findValueInArray(array1, array2)
      return result;
      
    } else {
      var result = false;
      // Loop for array1
      for(let i = 0; i < array1.length; i++) {
        
        // Loop for array2
        for(let j = 0; j < array2.length; j++) {
          // Compare the element of each and
          // every element from both of the
          // arrays
          if(array1[i] === array2[j]) {
            // Return if common element found
            result = true;
          }
        }
      }
      // Return if no common element exist
      return result;
    }
  }
  //////////////////////////////////////////////////////////////////
  
  // Define the tool filtering process
  //////////////////////////////////////////////////////////////////
  // Define the filter and the results variable. They are empty.
  var $location = $('#location'),
      $subfilter = $('#subfilter'),
      $toolfunction = $('#toolfunction'),
      $result = $('#result');
  
  // Set tool filters to react upon a select change, i.e., call the filter functions 
  $location.change(function () {
    onChange();
  });

  $subfilter.change(function () {
    onChange();
  });

  $toolfunction.change(function () {
    onChange();
  });
  
  // Function that launches the find tools function when the filter selection changes 
  // and prints the results to the page through showTools()
  function onChange() {
    var foundTools = findTools();
    showTools(foundTools);
  }
  
  // Function to get the selected options from the front end and launch the filter function to determine matching tools
  function findTools() {
    // Create location array when multiple selections are made for location
    var locSelect = [];
    var Selectlocation = $("#location option:selected");
    Selectlocation.each(function(){
      locSelect.push($(this).val());
    });

    // Create subfilter array when multiple selections are made for subfilter
    var filtSelect = [];
    var Selectsubfilter = $("#subfilter option:selected");
    Selectsubfilter.each(function(){
      filtSelect.push($(this).val());
    });
    
    // Create tool function array when multiple selections are made for tool function
    var funcSelect = [];
    var Selectfunction = $("#toolfunction option:selected");
    Selectfunction.each(function(){
      funcSelect.push($(this).val());
    });
    
    // Launch the filter tool with the selected options
    // $toolfunction.find('option:selected').val() for single selection
    // funcSelect for multiple selection
    //return filter(locSelect, $subfilter.find('option:selected').val(), $toolfunction.find('option:selected').val());
    return filter(locSelect, filtSelect, funcSelect);
  }
  
  // Function to filter the tools based on selected filters and tool attributes
  function filter(location, subfilter, toolfunction) {
    var result = [];
    
    // loop through the list of tools
    for (var i = 0; i < toolsjson.length; i++) {
      var tools = toolsjson[i].tools;
      
      // Include a tool:
      // if any location is selected or the selected location(s) match any listed in the attributes
      if ((findValueInArray("Any", location) || findCommonElement(tools.location, location)) && 
      // AND any subfilter is selected or the selected subfilter matches any listed in the attributes
      //(!subfilter || tools.subfilter.some(item => item === subfilter)) && 
      (findValueInArray("Any", subfilter) || findCommonElement(tools.subfilter, subfilter)) && 
      // AND any tool function is selected or the selected tool function matches any listed in the attributes
      //(!toolfunction || tools.toolfunction.some(item => item === toolfunction)))
      (findValueInArray("Any", toolfunction) || findCommonElement(tools.toolfunction, toolfunction))) {
        result.push(tools);
      }
    }
    return result;
  }
  
  // Function that sets up how the results will be displayed.
  // Displays results as a list of tool names with a link to the tool webpage
  function showTools(toolsjson) {
    // Set empty result if no tools exist
    $result.empty();
    
    // Display the number of tools found
    $result.append($("<h2>Search Results (Displaying " + toolsjson.length + " Tools)</h2>"));
    // Set results as a list
    $result.append($("<ul>"));
    
    // Sort tool names by alphabetical order:
    toolsjson.sort(function (a,b) {
      return a.name.toLowerCase().localeCompare(b.name.toLowerCase());
    });
    
    // If a tool is found loop over the tools to create a list
    for (var i = 0; i < toolsjson.length; i++) {
      $result.append($('<li><a href="https://cbtooltest.marisa.psu.edu/' + toolsjson[i].link +'/index.html" target="_blank">' + toolsjson[i].name + '</a></li>'));
    }
    $result.append($("</ul>"));
  }
  
  // Run on change
  onChange();
  </script>
  <!-- End the back end (javascript + jquery) of the webpage -->
</body>
{{- end }}
  