{{ define "main" -}}
<head>
  <meta charset="utf-8">
  <title>jQuery Get Values of Selected Checboxes</title>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script>
      $(document).ready(function() {
        alert('in script')
        //set variables
        var showData = $('#outputList');
        var holdTagSearch = [];
        var holdSoftReqSearch = []; //searchSoftReq
        var holdGeoSearch = [];  // searchGeo
        var holdToolFunSearch = [];  //searchToolFun
        var holdTopFilSearch = [];  //searchTopFil
        var holdTopSubSearch = [];

        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        function addTool(name, link){
          this.name = name;
          this.link = link;
        }
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        //from https://stackoverflow.com/questions/8550183/sum-of-values-in-an-array-using-jquery
        $.sum = function(arr) {
          var r = 0;
          $.each(arr, function(i, v) {
            r += +v;
          });
          return r;
        }
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        //run through all of the variables to select tools
        function selectTools(inTags, tagDat, inSR, reqDat, inGeo, geoDat, inFunct, tFunDat, inFilts, topFilDat, inSubFilts, topSubFilDat){
          var fullResults = [];
          var inTools = [];

          //tool topic filters
          if(inFilts.length > 0){
            var items = topFilDat.items.map(function (item){
              if(jQuery.inArray(item.topFilter, inFilts) >= 0){
                if(jQuery.inArray(item.name, inTools) == -1){
                  inTools.push(item.name);
                  var tool = new addTool(item.name, item.link);
                  fullResults.push(tool)
                }
              }
            });
          }

          //tool subtopic filter
          if(inSubFilts.length>0 && fullResults.length>0){
            $.each(fullResults, function(tool) {
              var toolName = this.name;
              var keepTool = 0;
              var toolReqs = [];
              var items = topSubFilDat.items.map(function (item){
                if(item.name == toolName){
                  toolReqs.push(item.subFilter)
                }
              });
              for (i=0; i<=toolReqs.length; i++) {
                if(jQuery.inArray(toolReqs[i], inSubFilts) >= 0){
                  keepTool = 1;
                }
              }
              if(keepTool==0){
                var whichRemove = jQuery.inArray(toolName, inTools);
                inTools.splice(whichRemove, 1);
                fullResults.splice(whichRemove, 1);
              }
            });
          }else if(inSubFilts.length>0 && fullResults.length==0){
            var items = topSubFilDat.items.map(function (item){
              if(jQuery.inArray(item.subFilter, inSubFilts) >= 0){
                if(jQuery.inArray(item.name, inTools) == -1){
                  inTools.push(item.name);
                  var tool = new addTool(item.name, item.link);
                  fullResults.push(tool)
                }
              }
            });
          }

          //tool software requirements
          if(inSR.length>0 && fullResults.length>0){
            $.each(fullResults, function(tool) {
              var toolName = this.name;
              var keepTool = 0;
              var toolReqs = [];
              var items = reqDat.items.map(function (item){
                if(item.name == toolName){
                  toolReqs.push(item.softReq)
                }
              });
              //do not know why this section does not work
              //$.each(toolReqs, function(req) {
              //  var reqName = this;
              //  alert(jQuery.inArray(this, inSR))
              //  alert(jQuery.inArray(reqName, inSR))
              //});
              for (i=0; i<=toolReqs.length; i++) {
                if(jQuery.inArray(toolReqs[i], inSR) >= 0){
                  keepTool = 1;
                }
              }
              if(keepTool==0){
                var whichRemove = jQuery.inArray(toolName, inTools);
                inTools.splice(whichRemove, 1);
                fullResults.splice(whichRemove, 1);
              }
            });
          }else if(inSR.length>0 && fullResults.length==0){
            var items = reqDat.items.map(function (item){
              if(jQuery.inArray(item.softReq, inSR) >= 0){
                if(jQuery.inArray(item.name, inTools) == -1){
                  inTools.push(item.name);
                  var tool = new addTool(item.name, item.link);
                  fullResults.push(tool)
                }
              }
            });
          }

          //tool geography
          if(inGeo.length>0 && fullResults.length>0){
            $.each(fullResults, function(tool) {
              var toolName = this.name;
              var keepTool = 0;
              var toolReqs = [];
              var items = geoDat.items.map(function (item){
                if(item.name == toolName){
                  toolReqs.push(item.geoScope)
                }
              });
              for (i=0; i<=toolReqs.length; i++) {
                if(jQuery.inArray(toolReqs[i], inGeo) >= 0){
                  keepTool = 1;
                }
              }
              if(keepTool==0){
                var whichRemove = jQuery.inArray(toolName, inTools);
                inTools.splice(whichRemove, 1);
                fullResults.splice(whichRemove, 1);
              }
            });
          }else if(inGeo.length>0 && fullResults.length==0){
            var items = geoDat.items.map(function (item){
              if(jQuery.inArray(item.geoScope, inGeo) >= 0){
                if(jQuery.inArray(item.name, inTools) == -1){
                  inTools.push(item.name);
                  var tool = new addTool(item.name, item.link);
                  fullResults.push(tool)
                }
              }
            });
          }

          //tool Function
          if(inFunct.length>0 && fullResults.length>0){
            $.each(fullResults, function(tool) {
              var toolName = this.name;
              var keepTool = 0;
              var toolReqs = [];
              var items = tFunDat.items.map(function (item){
                if(item.name == toolName){
                  toolReqs.push(item.toolFun)
                }
              });
              for (i=0; i<=toolReqs.length; i++) {
                if(jQuery.inArray(toolReqs[i], inFunct) >= 0){
                  keepTool = 1;
                }
              }
              if(keepTool==0){
                var whichRemove = jQuery.inArray(toolName, inTools);
                inTools.splice(whichRemove, 1);
                fullResults.splice(whichRemove, 1);
              }
            });
          }else if(inFunct.length>0 && fullResults.length==0){
            var items = tFunDat.items.map(function (item){
              if(jQuery.inArray(item.toolFun, inFunct) >= 0){
                if(jQuery.inArray(item.name, inTools) == -1){
                  inTools.push(item.name);
                  var tool = new addTool(item.name, item.link);
                  fullResults.push(tool)
                }
              }
            });
          }

          //tags
          if(inTags.length>0 && fullResults.length>0){
            $.each(fullResults, function(tool) {
              var toolName = this.name;
              var keepTool = 0;
              var toolReqs = [];
              var items = tagDat.items.map(function (item){
                if(item.name == toolName){
                  toolReqs.push(item.tag)
                }
              });
              for (i=0; i<=toolReqs.length; i++) {
                if(jQuery.inArray(toolReqs[i], inTags) >= 0){
                  keepTool = 1;
                }
              }
              if(keepTool==0){
                var whichRemove = jQuery.inArray(toolName, inTools);
                inTools.splice(whichRemove, 1);
                fullResults.splice(whichRemove, 1);
              }
            });
          }else if(inTags.length>0 && fullResults.length==0){
            var items = tagDat.items.map(function (item){
             if(jQuery.inArray(item.tag, inTags) >= 0){
                if(jQuery.inArray(item.name, inTools) == -1){
                  inTools.push(item.name);
                  var tool = new addTool(item.name, item.link);
                  fullResults.push(tool)
                }
              }
            });
          }

          //alert('to be added: ' + fullResults.length)
          if(fullResults.length > 0){
            $.each(fullResults, function(tool) {
              newTool = '<li><a href="' + '/tools/' + this.link +'/index.html">' + this.name + '</a></li>';
              showData.append(newTool);
            });
          }
        }
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        function defualtSetup(tagD, reqD, geoD, funD, filtD, sFiltD){
          showData.empty();
          var check = [];
          $('#topFilterSearch :not(:checked)').each(function(){
            check.push($(this).val());
          });
          selectTools(holdTagSearch, tagD, holdSoftReqSearch, reqD, holdGeoSearch, geoD, holdToolFunSearch, funD, check, filtD, holdTopSubSearch, sFiltD)
        }
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        function getType(o) {
          return Object.prototype.toString.call(o).match(/^\[object\s(.*)\]$/)[1];
        }
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        //a function to load multiple json files
        //https://stackoverflow.com/questions/19026331/call-multiple-json-data-files-in-one-getjson-request
        jQuery.getMultipleJSON = function(){
          var
            num = 0,
            def = jQuery.Deferred(),
            map = jQuery.map(arguments, function(jsonfile){
              return jQuery.getJSON(jsonfile).then(function(){
                def.notify(1/map.length * ++num, num, map.length);
                return arguments;
              });
            })
          ;
          jQuery.when.apply(jQuery, map)
            .fail(function(){ def.rejectWith(def, arguments); })
            .done(function(){
              def.resolveWith(def, jQuery.map(arguments, function(response){
                return response[0];
              }));
            })
          ;
          return def;
        };
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////
        //a function to switch the subtopic options on and off based on the selected main Topic
        switchSubTopics = function(){
          //disable subtopics if main topic not checked
          $('#topFilterSearch :unchecked').each(function(){
            //alert($(this).val())
            if(jQuery.inArray($(this).val(), ['None']) >= 0){
              $(".subFiltChecks-None").prop('checked', false);
              $('.subFiltChecks-None').attr('disabled', true);
              $('.subFiltChecks-None').css('opacity', '.95');
              $('.subLabs-None').css('opacity', '.2');
            }
            if(jQuery.inArray($(this).val(), ['Weather and Climate']) >= 0){
              $(".subFiltChecks-clim").prop('checked', false);
              $('.subFiltChecks-clim').attr('disabled', true);
              $('.subFiltChecks-clim').css('opacity', '.95');
              $('.subLabs-clim').css('opacity', '.2');
            }
            if(jQuery.inArray($(this).val(), ['Ecosystems']) >= 0){
              $(".subFiltChecks-eco").prop('checked', false);
              $('.subFiltChecks-eco').attr('disabled', true);
              $('.subFiltChecks-eco').css('opacity', '.95');
              $('.subLabs-eco').css('opacity', '.2');
            }
            if(jQuery.inArray($(this).val(), ['Agriculture / Built Environment']) >= 0){
              $(".subFiltChecks-blt").prop('checked', false);
              $('.subFiltChecks-blt').attr('disabled', true);
              $('.subFiltChecks-blt').css('opacity', '.95');
              $('.subLabs-blt').css('opacity', '.2');
            }
            if(jQuery.inArray($(this).val(), ['Society']) >= 0){
              $(".subFiltChecks-soc").prop('checked', false);
              $('.subFiltChecks-soc').attr('disabled', true);
              $('.subFiltChecks-soc').css('opacity', '.95');
              $('.subLabs-soc').css('opacity', '.2');
            }
            if(jQuery.inArray($(this).val(), ['Water / Flooding']) >= 0){
              $(".subFiltChecks-fld").prop('checked', false);
              $('.subFiltChecks-fld').attr('disabled', true);
              $('.subFiltChecks-fld').css('opacity', '.95');
              $('.subLabs-fld').css('opacity', '.2');
            }
          });

          //make subtopics available if main topic is checked
          $('#topFilterSearch :checked').each(function(){
            //alert($(this).val())
            if(jQuery.inArray($(this).val(), ['None']) >= 0){
              $('.subFiltChecks-None').attr('disabled', false);
              $('.subFiltChecks-None').css('opacity', '1');
              $('.subLabs-None').css('opacity', '1');
            }
            if(jQuery.inArray($(this).val(), ['Weather and Climate']) >= 0){
              $('.subFiltChecks-clim').attr('disabled', false);
              $('.subFiltChecks-clim').css('opacity', '1');
              $('.subLabs-clim').css('opacity', '1');
            }
            if(jQuery.inArray($(this).val(), ['Ecosystems']) >= 0){
              $('.subFiltChecks-eco').attr('disabled', false);
              $('.subFiltChecks-eco').css('opacity', '1');
              $('.subLabs-eco').css('opacity', '1');
            }
            if(jQuery.inArray($(this).val(), ['Agriculture / Built Environment']) >= 0){
              $('.subFiltChecks-blt').attr('disabled', false);
              $('.subFiltChecks-blt').css('opacity', '1');
              $('.subLabs-blt').css('opacity', '1');
            }
            if(jQuery.inArray($(this).val(), ['Society']) >= 0){
              $('.subFiltChecks-soc').attr('disabled', false);
              $('.subFiltChecks-soc').css('opacity', '1');
              $('.subLabs-soc').css('opacity', '1');
            }
            if(jQuery.inArray($(this).val(), ['Water / Flooding']) >= 0){
              $('.subFiltChecks-fld').attr('disabled', false);
              $('.subFiltChecks-fld').css('opacity', '1');
              $('.subLabs-fld').css('opacity', '1');
            }
          });
        }
        //////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////

        jQuery.getMultipleJSON('/data/searchTags.json', '/data/searchSoft.json', '/data/searchGeoScope.json', '/data/searchToolFun.json', '/data/searchTopFilter.json', '/data/searchSubFilter.json')
          .progress(function(percent, count, total){})
          .fail(function(jqxhr, textStatus, error){})
          .done(function(tagData, reqData, geoData, tFunData, topFilData, subFilData){

            //default set up
            defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData);
            //disable all subtopic
            switchSubTopics();

            //////////////////////////////////////////////////////////////////
            //rules for tags select all
            $('#tagTogAll').change(function(){
              showData.empty();
              var searchTags = [];

              var checkboxes = $(this).closest('form').find(':checkbox');
              checkboxes.prop('checked', $(this).is(':checked'));

              $('#tagSearch :checked').each(function(){
                searchTags.push($(this).val());
              });

              holdTagSearch = searchTags;
              var chkNumRes = $.sum([searchTags.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(searchTags, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.tagChecks').change(function(){
              showData.empty();
              var searchTags = [];

              if($('.tagChecks:checked').length == $('.tagChecks').length){
                $('#tagTogAll').prop('checked',true);
              }else{
                $('#tagTogAll').prop('checked',false);
              }

              $('#tagSearch :checked').each(function(){
                searchTags.push($(this).val());
              });

              holdTagSearch = searchTags;
              var chkNumRes = $.sum([searchTags.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(searchTags, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            //////////////////////////////////////////////////////////////////
            //rules for software requirements select all
            $('#reqTogAll').change(function(){
              showData.empty();
              var searchSoftReq = [];

              var checkboxes = $(this).closest('form').find(':checkbox');
              checkboxes.prop('checked', $(this).is(':checked'));

              $('#softReqSearch :checked').each(function(){
                searchSoftReq.push($(this).val());
              });

              holdSoftReqSearch = searchSoftReq;
              var chkNumRes = $.sum([holdTagSearch.length, searchSoftReq.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, searchSoftReq, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.reqChecks').change(function(){
              showData.empty();
              var searchSoftReq = [];

              if($('.reqChecks:checked').length == $('.reqChecks').length){
                $('#reqTogAll').prop('checked',true);
              }else{
                $('#reqTogAll').prop('checked',false);
              }

              $('#softReqSearch :checked').each(function(){
                searchSoftReq.push($(this).val());
              });

              holdSoftReqSearch = searchSoftReq;
              var chkNumRes = $.sum([holdTagSearch.length, searchSoftReq.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, searchSoftReq, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            //////////////////////////////////////////////////////////////////
            //rules for tool geography select all
            $('#geoTogAll').change(function(){
              showData.empty();
              var searchGeo = [];

              var checkboxes = $(this).closest('form').find(':checkbox');
              checkboxes.prop('checked', $(this).is(':checked'));

              $('#geoScopeSearch :checked').each(function(){
                searchGeo.push($(this).val());
              });

              holdSoftReqSearch = searchGeo;
              var chkNumRes = $.sum([holdTagSearch.length, searchSoftReq.length, searchGeo.length, holdToolFunSearch.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, searchSoftReq, reqData, searchGeo, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.geoChecks').change(function(){
              showData.empty();
              var searchGeo = [];

              if($('.geoChecks:checked').length == $('.geoChecks').length){
                $('#geoTogAll').prop('checked',true);
              }else{
                $('#geoTogAll').prop('checked',false);
              }

              $('#geoScopeSearch :checked').each(function(){
                searchGeo.push($(this).val());
              });

              holdSoftReqSearch = searchGeo;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, searchGeo.length, holdToolFunSearch.length, holdTopFilSearch.length, holdTopSubSearch.length]);

              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, searchGeo, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            //////////////////////////////////////////////////////////////////
            //rules for tool functionality select all
            $('#tlfunTogAll').change(function(){
              showData.empty();
              var searchToolFun = [];

              var checkboxes = $(this).closest('form').find(':checkbox');
              checkboxes.prop('checked', $(this).is(':checked'));

              $('#toolFunSearch :checked').each(function(){
                searchToolFun.push($(this).val());
              });

              holdToolFunSearch = searchToolFun;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, searchToolFun.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, searchToolFun, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.toolFunctChecks').change(function(){
              showData.empty();
              var searchToolFun = [];

              if($('.toolFunctChecks:checked').length == $('.toolFunctChecks').length){
                $('#tlfunTogAll').prop('checked',true);
              }else{
                $('#tlfunTogAll').prop('checked',false);
              }

              $('#toolFunSearch :checked').each(function(){
                searchToolFun.push($(this).val());
              });

              holdToolFunSearch = searchToolFun;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, searchToolFun.length, holdTopFilSearch.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, searchToolFun, tFunData, holdTopFilSearch, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            //////////////////////////////////////////////////////////////////
            //rules for main topic filter
            $('#topfltTogAll').change(function(){
              showData.empty();
              var searchTopFil = [];

              var checkboxes = $(this).closest('form').find(':checkbox');
              checkboxes.prop('checked', $(this).is(':checked'));

              switchSubTopics();

              $('#topFilterSearch :checked').each(function(){
                searchTopFil.push($(this).val());
              });

              holdTopFilSearch = searchTopFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, searchTopFil.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, searchTopFil, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.topFiltChecks').change(function(){
              showData.empty();
              var searchTopFil = [];

              if($('.topFiltChecks:checked').length == $('.topFiltChecks').length){
                $('#topfltTogAll').prop('checked',true);
              }else{
                $('#topfltTogAll').prop('checked',false);
              }

              switchSubTopics();

              $('#topFilterSearch :checked').each(function(){
                searchTopFil.push($(this).val());
              });

              holdTopFilSearch = searchTopFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, searchTopFil.length, holdTopSubSearch.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, searchTopFil, topFilData, holdTopSubSearch, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            //////////////////////////////////////////////////////////////////
            //rules for sub-topic filter
            $('#subfltTogAll').change(function(){
              showData.empty();
              var searchSubFil = [];

              //var checkboxes = $(this).closest('form').find(':checkbox');
              var checkboxes = $(this).closest('form').find(':checkbox:not(:disabled)');
              checkboxes.prop('checked', $(this).is(':checked'));

              switchSubTopics();

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });

            $('.subFiltChecks-None').change(function(){
              showData.empty();
              var searchSubFil = [];

              var fullSubLength = $.sum([$('.subFiltChecks-None:not(:disabled)').length, $('.subFiltChecks-clim:not(:disabled)').length, $('.subFiltChecks-eco:not(:disabled)').length, $('.subFiltChecks-blt:not(:disabled)').length, $('.subFiltChecks-soc:not(:disabled)').length, $('.subFiltChecks-fld:not(:disabled)').length]);
              var numChked = $.sum([$('.subFiltChecks-None:checked').length, $('.subFiltChecks-clim:checked').length, $('.subFiltChecks-eco:checked').length, $('.subFiltChecks-blt:checked').length, $('.subFiltChecks-soc:checked').length, $('.subFiltChecks-fld:checked').length]);

              if(numChked == fullSubLength){
                $('#subfltTogAll').prop('checked',true);
              }else{
                $('#subfltTogAll').prop('checked',false);
              }

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.subFiltChecks-clim').change(function(){
              showData.empty();
              var searchSubFil = [];

              var fullSubLength = $.sum([$('.subFiltChecks-None:not(:disabled)').length, $('.subFiltChecks-clim:not(:disabled)').length, $('.subFiltChecks-eco:not(:disabled)').length, $('.subFiltChecks-blt:not(:disabled)').length, $('.subFiltChecks-soc:not(:disabled)').length, $('.subFiltChecks-fld:not(:disabled)').length]);
              var numChked = $.sum([$('.subFiltChecks-None:checked').length, $('.subFiltChecks-clim:checked').length, $('.subFiltChecks-eco:checked').length, $('.subFiltChecks-blt:checked').length, $('.subFiltChecks-soc:checked').length, $('.subFiltChecks-fld:checked').length]);

              if(numChked == fullSubLength){
                $('#subfltTogAll').prop('checked',true);
              }else{
                $('#subfltTogAll').prop('checked',false);
              }

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.subFiltChecks-eco').change(function(){
              showData.empty();
              var searchSubFil = [];

              var fullSubLength = $.sum([$('.subFiltChecks-None:not(:disabled)').length, $('.subFiltChecks-clim:not(:disabled)').length, $('.subFiltChecks-eco:not(:disabled)').length, $('.subFiltChecks-blt:not(:disabled)').length, $('.subFiltChecks-soc:not(:disabled)').length, $('.subFiltChecks-fld:not(:disabled)').length]);
              var numChked = $.sum([$('.subFiltChecks-None:checked').length, $('.subFiltChecks-clim:checked').length, $('.subFiltChecks-eco:checked').length, $('.subFiltChecks-blt:checked').length, $('.subFiltChecks-soc:checked').length, $('.subFiltChecks-fld:checked').length]);

              if(numChked == fullSubLength){
                $('#subfltTogAll').prop('checked',true);
              }else{
                $('#subfltTogAll').prop('checked',false);
              }

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.subFiltChecks-blt').change(function(){
              showData.empty();
              var searchSubFil = [];

              var fullSubLength = $.sum([$('.subFiltChecks-None:not(:disabled)').length, $('.subFiltChecks-clim:not(:disabled)').length, $('.subFiltChecks-eco:not(:disabled)').length, $('.subFiltChecks-blt:not(:disabled)').length, $('.subFiltChecks-soc:not(:disabled)').length, $('.subFiltChecks-fld:not(:disabled)').length]);
              var numChked = $.sum([$('.subFiltChecks-None:checked').length, $('.subFiltChecks-clim:checked').length, $('.subFiltChecks-eco:checked').length, $('.subFiltChecks-blt:checked').length, $('.subFiltChecks-soc:checked').length, $('.subFiltChecks-fld:checked').length]);

              if(numChked == fullSubLength){
                $('#subfltTogAll').prop('checked',true);
              }else{
                $('#subfltTogAll').prop('checked',false);
              }

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.subFiltChecks-soc').change(function(){
              showData.empty();
              var searchSubFil = [];

              var fullSubLength = $.sum([$('.subFiltChecks-None:not(:disabled)').length, $('.subFiltChecks-clim:not(:disabled)').length, $('.subFiltChecks-eco:not(:disabled)').length, $('.subFiltChecks-blt:not(:disabled)').length, $('.subFiltChecks-soc:not(:disabled)').length, $('.subFiltChecks-fld:not(:disabled)').length]);
              var numChked = $.sum([$('.subFiltChecks-None:checked').length, $('.subFiltChecks-clim:checked').length, $('.subFiltChecks-eco:checked').length, $('.subFiltChecks-blt:checked').length, $('.subFiltChecks-soc:checked').length, $('.subFiltChecks-fld:checked').length]);

              if(numChked == fullSubLength){
                $('#subfltTogAll').prop('checked',true);
              }else{
                $('#subfltTogAll').prop('checked',false);
              }

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });
            $('.subFiltChecks-fld').change(function(){
              showData.empty();
              var searchSubFil = [];

              var fullSubLength = $.sum([$('.subFiltChecks-None:not(:disabled)').length, $('.subFiltChecks-clim:not(:disabled)').length, $('.subFiltChecks-eco:not(:disabled)').length, $('.subFiltChecks-blt:not(:disabled)').length, $('.subFiltChecks-soc:not(:disabled)').length, $('.subFiltChecks-fld:not(:disabled)').length]);
              var numChked = $.sum([$('.subFiltChecks-None:checked').length, $('.subFiltChecks-clim:checked').length, $('.subFiltChecks-eco:checked').length, $('.subFiltChecks-blt:checked').length, $('.subFiltChecks-soc:checked').length, $('.subFiltChecks-fld:checked').length]);

              if(numChked == fullSubLength){
                $('#subfltTogAll').prop('checked',true);
              }else{
                $('#subfltTogAll').prop('checked',false);
              }

              $('#subFilterSearch :checked').each(function(){
                searchSubFil.push($(this).val());
              });

              holdTopSubSearch = searchSubFil;
              var chkNumRes = $.sum([holdTagSearch.length, holdSoftReqSearch.length, holdGeoSearch.length, holdToolFunSearch.length, holdTopFilSearch.length, searchSubFil.length]);
              if(chkNumRes>0){
                selectTools(holdTagSearch, tagData, holdSoftReqSearch, reqData, holdGeoSearch, geoData, holdToolFunSearch, tFunData, holdTopFilSearch, topFilData, searchSubFil, subFilData)
              }else{
                defualtSetup(tagData, reqData, geoData, tFunData, topFilData, subFilData)
              }
            });


            //////////////////////////////////////////////////////////////////



            //var holdToolFunSearch = [];  //searchToolFun
            //var holdTopFilSearch = [];
          });

        //$("button").click(function(){
        //  alert('pressed button')
        //});
      });
  </script>
</head>
<body>
<div class="app-container">
  <div class="app-content">
    <section class="filtered-search">
      <div class="filtered-search-dashboard">
        <div class="filtered-search-banner">
          <h2 class="mb-5">Tool Search</h2>
        </div>
        <div class="filtered-search-filters">
          <fieldset class>
            <fieldset class="singleRow">
              <div class="header">
                <h5>Topic Filter</h5>
                <!--<button type="button">RESET</button>-->
              </div>
              <form id="topFilterSearch">
                <label><input type="checkbox" aria-selected="false" id=topfltTogAll value="Select All">Select All</label><br>
                <hr>
                <label><input type="checkbox" aria-selected="false" class="topFiltChecks" value="None">None</label><br>
                <label><input type="checkbox" aria-selected="false" class="topFiltChecks" value="Weather and Climate">Weather and Climate</label><br>
                <label><input type="checkbox" aria-selected="false" class="topFiltChecks" value="Ecosystems">Ecosystems</label><br>
                <label><input type="checkbox" aria-selected="false" class="topFiltChecks" value="Agriculture / Built Environment">Agriculture / Built Environment</label><br>
                <label><input type="checkbox" aria-selected="false" class="topFiltChecks" value="Society">Society</label><br>
                <label><input type="checkbox" aria-selected="false" class="topFiltChecks" value="Water / Flooding">Water / Flooding</label>
              </form>
            </fieldset>
            <fieldset class="singleRow">
            <div class="header">
              <h5>Sub-topic Filter</h5>
              <!--<button type="button">RESET</button>-->
            </div>
              <form id="subFilterSearch">
                <label><input type="checkbox" aria-selected="false" id=subfltTogAll value="Select All">Select All</label><br>
                <hr>
                <label class="subLabs-None"><input type="checkbox" aria-selected="false" class="subFiltChecks-None" value="None">None</label><br>
                <label class="subLabs-clim"><input type="checkbox" aria-selected="false" class="subFiltChecks-clim" value="Sea Level Rise">Sea Level Rise</label><br>
                <label class="subLabs-eco"><input type="checkbox" aria-selected="false" class="subFiltChecks-eco" value="Wetlands">Wetlands</label><br>
                <label class="subLabs-eco"><input type="checkbox" aria-selected="false" class="subFiltChecks-eco" value="Shorelines and Erosion">Shorelines and Erosion</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Planning / Land Use">Planning / Land Use</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Transportation">Transportation</label><br>
                <label class="subLabs-soc"><input type="checkbox" aria-selected="false" class="subFiltChecks-soc" value="Social Vulnerability">Social Vulnerability</label><br>
                <label class="subLabs-soc"><input type="checkbox" aria-selected="false" class="subFiltChecks-soc" value="Public Health">Public Health</label><br>
                <label class="subLabs-eco"><input type="checkbox" aria-selected="false" class="subFiltChecks-eco" value="Restoration">Restoration</label><br>
                <label class="subLabs-eco"><input type="checkbox" aria-selected="false" class="subFiltChecks-eco" value="Eco Services Valuation">Eco Services Valuation</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Buildings / Infrastructure">Buildings / Infrastructure</label><br>
                <label class="subLabs-clim"><input type="checkbox" aria-selected="false" class="subFiltChecks-clim" value="Temperature">Temperature</label><br>
                <label class="subLabs-clim"><input type="checkbox" aria-selected="false" class="subFiltChecks-clim" value="Precipitation">Precipitation</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="Water Level">Water Level</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="Water Quality">Water Quality</label><br>
                <label class="subLabs-clim"><input type="checkbox" aria-selected="false" class="subFiltChecks-clim" value="Storms and Hurricanes">Storms and Hurricanes</label><br>
                <label class="subLabs-eco"><input type="checkbox" aria-selected="false" class="subFiltChecks-eco" value="Submerged Aquatic Vegitation">Submerged Aquatic Vegitation</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Fisheries and Aquaculture">Fisheries and Aquaculture</label><br>
                <label class="subLabs-clim"><input type="checkbox" aria-selected="false" class="subFiltChecks-clim" value="Drought">Drought</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Agriculture">Agriculture</label><br>
                <label class="subLabs-clim"><input type="checkbox" aria-selected="false" class="subFiltChecks-clim" value="Carbon Emissions">Carbon Emissions</label><br>
                <label class="subLabs-soc"><input type="checkbox" aria-selected="false" class="subFiltChecks-soc" value="Air Quality">Air Quality</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Forestry">Forestry</label><br>
                <label class="subLabs-eco"><input type="checkbox" aria-selected="false" class="subFiltChecks-eco" value="Soils">Soils</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Economic Assessment">Economic Assessment</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="Stream Flow">Stream Flow</label><br>
                <label class="subLabs-blt"><input type="checkbox" aria-selected="false" class="subFiltChecks-blt" value="Urban Forestry">Urban Forestry</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="High Tide / Recurrent Flooding">High Tide / Recurrent Flooding</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="Storm Surge">Storm Surge</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="Inland Flooding">Inland Flooding</label><br>
                <label class="subLabs-fld"><input type="checkbox" aria-selected="false" class="subFiltChecks-fld" value="Saltwater Intrusion">Saltwater Intrusion</label>
              </form>
            </fieldset>
            <fieldset class="singleRow">
            <div class="header">
              <h5>Software Requirements</h5>
              <!--<button type="button">RESET</button>-->
            </div>
              <form id="softReqSearch">
                <label><input type="checkbox" aria-selected="false" id=reqTogAll value="Select All">Select All</label><br>
                <hr>
                <label><input type="checkbox" aria-selected="false" class="reqChecks" value="None">None</label><br>
                <label><input type="checkbox" aria-selected="false" class="reqChecks" value="R">R</label><br>
                <label><input type="checkbox" aria-selected="false" class="reqChecks" value="R Studio">R Studio</label><br>
                <label><input type="checkbox" aria-selected="false" class="reqChecks" value="ArcMap/ GIS software">ArcMap/ GIS software</label><br>
                <label><input type="checkbox" aria-selected="false" class="reqChecks" value="ArcGIS (optional)">ArcGIS (optional)</label><br>
              </form>
          </fieldset>
          <fieldset class="singleRow">
          <div class="header">
            <h5>Geographic Scope</h5>
            <!--<button type="button">RESET</button>-->
          </div>
            <form id="geoScopeSearch">
              <label><input type="checkbox" aria-selected="false" id=geoTogAll value="Select All">Select All</label><br>
              <hr>
              <label><input type="checkbox" aria-selected="false" class="geoChecks" value="Not Available">Not Available</label><br>
              <label><input type="checkbox" aria-selected="false" class="geoChecks" value="State">State</label><br>
              <label><input type="checkbox" aria-selected="false" class="geoChecks" value="Locality">Locality</label><br>
              <label><input type="checkbox" aria-selected="false" class="geoChecks" value="National">National</label><br>
            </form>
          </fieldset>
          <fieldset class="singleRow">
          <div class="header">
            <h5>Tool Function</h5>
            <!--<button type="button">RESET</button>-->
          </div>
            <form id="toolFunSearch">
              <label><input type="checkbox" aria-selected="false" id=tlfunTogAll value="Select All">Select All</label><br>
              <hr>
              <label><input type="checkbox" aria-selected="false" class="toolFunctChecks" value="None">None</label><br>
              <label><input type="checkbox" aria-selected="false" class="toolFunctChecks" value="View Past/Current Conditions">View Past/Current Conditions</label><br>
              <label><input type="checkbox" aria-selected="false" class="toolFunctChecks" value="View Future Projections">View Future Projections</label><br>
              <label><input type="checkbox" aria-selected="false" class="toolFunctChecks" value="Engagement">Engagement</label><br>
              <label><input type="checkbox" aria-selected="false" class="toolFunctChecks" value="Identify Vulnerabilities">Identify Vulnerabilities</label><br>
            </form>
          </fieldset>
          <fieldset class="singleRow">
            <div class="header">
              <h5>Tool Tags</h5>
              <!--<button type="button">RESET</button>-->
            </div>
            <form id="tagSearch">
              <label><input type="checkbox" aria-selected="false" id=tagTogAll value="Select All">Select All</label><br>
              <hr>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Easy-to-use, interactive interface">Easy-to-use, interactive interface</label><br>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Provides decadal projections for multiple sea level rise scenarios">Provides decadal projections for multiple sea level rise scenarios</label><br>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Can easily search for locality of interest">Can easily search for locality of interest</label><br>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Flooding forecast is updated every 12 hours">Flooding forecast is updated every 12 hours</label><br>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Can overlay additional features, such as infrastructure and natural resources">Can overlay additional features, such as infrastructure and natural resources</label><br>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Multiple basemap options">Multiple basemap options</label><br>
              <label><input type="checkbox" aria-selected="false" class="tagChecks" value="Easy-to-use interface">Easy-to-use interface</label>
            </form>
          </fieldset>
        </fieldset>
        <button type="button">Find Tools</button>
        </div>

        <hr>
        <h2>Search Results</h2>
        <div>
          <ul id="outputList">

          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
{{- end }}
