<!-- Set up JQuery -->
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Set up Select2: https://select2.org  -->
<!-- Select2 is a jQuery replacement for select boxes. Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options. -->
<!-- We use Select2 to convert our multi select boxes to a nice dropdown menu that you can search -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Load the tools json variable from a separate file -->
<script src="/misc/toolsFilter.js" type="text/javascript"></script>
<script src="/misc/definition.js" type="text/javascript"></script>
<!-- <script> 
  $(function(){
    $("#includedContent").load("definition.html"); 
  });
  </script> -->