---
layout: default
---


<h1>Climate Tools</h1>
<br>
<div class="makeleft">
    <nav id="hamnav">
        <ul class="sec-nav">
                <li><a href="{{ site.baseurl }}/">Overview</a></li>
                <li class="menu-mark"><a href="{{ site.baseurl }}/toolsearch">Tool Search</a></li>
                <li><a href="{{ site.baseurl }}/tools"> All Tools</a></li>
                <!--Use "menu-mark" class to indicate which menu item should be highlighted-->
                <li><a href="{{ site.baseurl }}/glossary">Glossary</a></li>
        </ul>
    </nav>
</div>
<br>

{{ content }}
